<app-default-login-layout
  title="Redefinir Senha"
  primaryBtnText="Salvar Nova Senha"
  secondaryBtnText="Voltar ao Login"
  (submit)="submit()"
  (navigate)="navigate()"
  [disablePrimaryBtn]="!resetForm.valid"
>

  <div *ngIf="showSuccess" class="success-toast">
    {{ successMessage }}
  </div>

  <form [formGroup]="resetForm">

    <app-primary-input
      formControlName="newPassword"
      inputName="newPassword"
      type="password"
      label="Nova Senha"
      placeholder="Digite sua nova senha"
    >
      <img src="/assets/svg/password-icon.svg" />
    </app-primary-input>

    <app-primary-input
      formControlName="confirmNewPassword"
      inputName="confirmNewPassword"
      type="password"
      label="Confirmar Nova Senha"
      placeholder="Confirme sua nova senha"
    >
      <img src="/assets/svg/password-icon.svg" />
    </app-primary-input>

  </form>

</app-default-login-layout>
