<app-default-login-layout title="Redefinir Senha" primaryBtnText="Salvar Nova Senha" secondaryBtnText="Voltar ao Login"
  (submit)="submit()" (navigate)="navigate()" [disablePrimaryBtn]="!resetForm.valid || isExpired"
  [showPrimaryBtn]="!isExpired">

  <div *ngIf="showSuccess" class="success-toast">
    {{ successMessage }}
  </div>

  <div class="timer-container" *ngIf="!isExpired && !showSuccess">
    <i class="ph ph-clock"></i>
    <span>Tempo de expiração: {{ displayTime }}</span>
  </div>

  <form [formGroup]="resetForm" *ngIf="!isExpired">

    <app-primary-input formControlName="newPassword" inputName="newPassword" type="password" label="Nova Senha"
      placeholder="Digite sua nova senha" [enableValidation]="true">
      <img src="/assets/svg/password-icon.svg" />
    </app-primary-input>

    <app-primary-input formControlName="confirmNewPassword" inputName="confirmNewPassword" type="password"
      label="Confirmar Nova Senha" placeholder="Confirme sua nova senha" [enableValidation]="true">
      <img src="/assets/svg/password-icon.svg" />
    </app-primary-input>

  </form>

  <div *ngIf="isExpired" class="expired-container">
    <div class="icon-expired">
      <i class="ph ph-warning-circle"></i>
    </div>
    <h3>Tempo Expirado</h3>
    <p>O tempo para redefinir sua senha acabou.</p>
    <button class="btn-retry" (click)="retry()">Refazer Processo</button>
  </div>

</app-default-login-layout>